# Seleção do Modelo de Regressão - PyCaret

In [34]:
import pandas as pd
from pycaret.regression import *

In [2]:
dados = pd.read_csv('dados_anuncios_airbnb_tratados.csv')

In [3]:
dados.drop(columns='Título', inplace=True)

In [4]:
dados.head()

,Preço (R$),Avaliação,Bairro,Imóvel,Hóspedes,Camas,Quartos,Banheiros,Cozinha,Wi-Fi,Piscina
0,110,4.90,Indianópolis,Flat inteiro,2,1,1,1,Tem,Tem,Tem
1,117,4.80,Consolacao,Apartamento inteiro,5,3,0,1,Tem,Tem,Tem
2,110,4.87,Consolacao,Flat inteiro,2,1,1,1,Tem,Tem,Tem
3,80,4.61,Bela Vista,Flat inteiro,2,1,1,1,Tem,Tem,Não tem
4,54,4.89,Vila Olímpia,Quarto inteiro,2,1,1,1,Tem,Tem,Não tem

## Setup Ambiente

In [5]:
regression_setup = setup(data = dados,
                         target = 'Preço (R$)',
                         numeric_features=['Avaliação', 'Hóspedes', 'Camas', 'Quartos', 'Banheiros'],
                         categorical_features=['Bairro', 'Imóvel', 'Cozinha', 'Wi-Fi', 'Piscina'],
                         session_id=123)

## Melhor modelo de regressão

In [28]:
best = compare_models()

In [35]:
best

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=123, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)